<div class="oj-hybrid-padding">
  <div class="page-container">
    <div>
      <div class="oj-flex-start">
        <oj-button class="oj-flex oj-flex-item w-button"
          data-bind="click: isNowSelectedClicked, css: { highlight: isNowSelected()}">
          <span>Now</span>
        </oj-button>
        <oj-button class="oj-flex oj-flex-item w-button"
          data-bind="click: isTodaySelectedClicked, css: { highlight: isTodaySelected()}">
          <span>Today</span>
        </oj-button>
        <oj-button class="oj-flex oj-flex-item w-button"
          data-bind="click: isDateSelectedClicked, css: { highlight: isDateSelected()}">
          <span>Select Day</span>
        </oj-button>
      </div>

      <div>
        <div data-bind="visible:isNowSelected">
          <div class="weather-container">
            <div class="oj-flex-start"><span class="weather-info-font" data-bind="text: weatherProps.temp"></span>
              <span class="weather-details-font" data-bind="text: weatherProps.description">
              </span>
            </div>

            <img class="weather-icon" data-bind="attr: { src: weatherProps.icon }">
          </div>
          <div class="weather-info-container">

            <div class="oj-flex">
              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2" data-bind="text: weatherProps.feels_like"></span>
                <span class="weather-details-font">Feels like</span>
              </div>

              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2" data-bind="text: weatherProps.wind_speed"></span>
                <span class="weather-details-font">Wind</span>
              </div>

              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2" data-bind="text: weatherProps.wind_gust"></span>
                <span class="weather-details-font">Wind Gust</span>
              </div>

            </div>

            <div class="oj-flex">
              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2" data-bind="text: weatherProps.wind_deg"></span>
                <span class="weather-details-font">Wind Deg</span>
              </div>

              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2" data-bind="text: weatherProps.humidity"></span>
                <span class="weather-details-font">Humidity</span>
              </div>

              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2" data-bind="text: weatherProps.pressure"></span>
                <span class="weather-details-font">Pressure</span>
              </div>

            </div>
          </div>

        </div>

        <div data-bind="visible:isTodaySelected">
          <div class="weather-container">
            <div class="oj-flex-start"><span class="weather-info-font" data-bind="text: weatherProps.tempAvg"></span>
              <span class="weather-details-font" data-bind="text: weatherProps.description">
              </span>
            </div>

            <img class="weather-icon" data-bind="attr: { src: weatherProps.icon }">
          </div>
          <div class="weather-info-container">

            <div class="oj-flex">
              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2" data-bind="text: weatherProps.feelsLikeAvg"></span>
                <span class="weather-details-font">Feels like</span>
              </div>

              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2" data-bind="text: weatherProps.wind_speed"></span>
                <span class="weather-details-font">Wind</span>
              </div>

              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2" data-bind="text: weatherProps.wind_gust">18</span>
                <span class="weather-details-font">Wind Gust</span>
              </div>
            </div>

            <div class="oj-flex">
              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2"  data-bind="text: weatherProps.wind_deg"></span>
                <span class="weather-details-font">Wind Deg</span>
              </div>

              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2" data-bind="text: weatherProps.humidity"></span>
                <span class="weather-details-font">Humidity</span>
              </div>

              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2" data-bind="text: weatherProps.pressure"></span>
                <span class="weather-details-font">Pressure</span>
              </div>

            </div>
          </div>
        </div>


        <div class="oj-flex-start input-date-div" style="width: 100%;" data-bind="visible:isDateSelected">
          <div class="apply-date-container oj-flex"> 
            <div class="oj-flex oj-flex-item input-date">
            <oj-input-date value="{{selectedDate}}" min="{{minDate}}" max="{{maxDate}}" autocomplete="off" required>
            </oj-input-date></div>
            <oj-button class="oj-flex oj-flex-item w-button" data-bind="click: applyDate, visible: selectedDate">Apply</oj-button>
        </div>
          
        <div class="oj-flex oj-flex-item weather-info-panel" data-bind="click:applyDate, visible: isApplyClicked">
          <div class="weather-container">
            <div class="oj-flex-start">
              <span class="weather-info-font" data-bind="text: weatherProps.tempAvg"></span>
              <span class="weather-details-font" data-bind="text: weatherProps.description">
              </span>
            </div>

            <img class="weather-icon" data-bind="attr: { src: weatherProps.icon }">
          </div>
          <div class="weather-info-container">

            <div class="oj-flex">
              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2" data-bind="text: weatherProps.feelsLikeAvg"></span>
                <span class="weather-details-font">Feels like</span>
              </div>

              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2" data-bind="text: weatherProps.wind"></span>
                <span class="weather-details-font">Wind</span>
              </div>

              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2" data-bind="text: weatherProps.wind_gust"></span>
                <span class="weather-details-font">Wind Gust</span>
              </div>
            </div>

            <div class="oj-flex">
              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2" data-bind="text: weatherProps.wind_gust"></span>
                <span class="weather-details-font">Wind Deg</span>
              </div>

              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2" data-bind="text: weatherProps.wind_deg"></span>
                <span class="weather-details-font">Humidity</span>
              </div>

              <div class="oj-flex oj-flex-item weather-info-box">
                <span class="weather-info-font2" data-bind="text: weatherProps.pressure"></span>
                <span class="weather-details-font">Pressure</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="chart-container">
      <div class="weekly-variations">Weekly Variations</div>
      <div class="temperature-styling">Temparature</div>
      <div class="line-chart">
        <oj-chart type='line' style="height: 100%; width: 100%; margin: auto;" groups=[[chartGroups]]
          series=[[temperatureData]]>
        </oj-chart>
      </div>
    </div>
  </div>
</div>