<div class="oj-hybrid-padding">
  <div class="page-container">
    <div>
      <div class="oj-flex-start">
        <oj-button class="oj-flex oj-flex-item w-button"
          data-bind="click: isNowSelectedClicked, css: { highlight: isNowSelected()}">
          <span>Now</span>
        </oj-button>
        <oj-button class="oj-flex oj-flex-item w-button"
          data-bind="click: isTodaySelectedClicked, css: { highlight: isTodaySelected()}">
          <span>Today</span>
        </oj-button>
        <oj-button class="oj-flex oj-flex-item w-button"
          data-bind="click: isDateSelectedClicked, css: { highlight: isDateSelected()}">
          <span>Select Day</span>
        </oj-button>
      </div>

      <div>
        <div data-bind="visible:isNowSelected">
          <div class="" data-bind="ojModule: weatherDataHtml"></div>
        </div>

        <div data-bind="visible:isTodaySelected">
          <div class="" data-bind="ojModule: weatherDataHtml"></div>
        </div>

        <div class="oj-flex-start input-date-div" style="width: 100%;" data-bind="visible:isDateSelected">
          <div class="apply-date-container oj-flex">
            <div class="oj-flex oj-flex-item input-date">
              <oj-input-date value="{{selectedDate}}" min="{{minDate}}" max="{{maxDate}}" autocomplete="off" required>
              </oj-input-date>
            </div>
            <oj-button class="oj-flex oj-flex-item w-button"
              data-bind="click: applyDate, visible: selectedDate">Apply</oj-button>
          </div>
          <div class="oj-flex oj-flex-item weather-info-panel" data-bind="click:applyDate, visible: isApplyClicked">
            <div class="" data-bind="ojModule: weatherDataHtml"></div>
          </div>
        </div>

      </div>
    </div>

    <div class="chart-container">
      <div class="weekly-variations">Weekly Variations</div>
      <div class="temperature-styling">Temparature</div>
      <div class="line-chart">
        <oj-chart type='line' style="height: 100%; width: 100%; margin: auto;" groups=[[chartGroups]]
          series=[[temperatureData]]>
        </oj-chart>
      </div>
    </div>
  </div>
</div>