<!-- Here is a common html template to display in each of the 3 cases (current, today, selected future date) the Temparature, Feels like, Wind, Wind gust, Wind deg, Pressure and Humidity -->

<div class="weather-container">
    <div class="oj-flex-start">
        <span class="weather-info-font" data-bind="visible:isNowSelected(), text: weatherProps.temp"></span>
        <span class="weather-info-font" data-bind="visible:!isNowSelected(), text: weatherProps.tempAvg"></span>
      <span class="weather-details-font" data-bind="text: weatherProps.description">
      </span>
    </div>
    <img class="weather-icon" data-bind="attr: { src: weatherProps.icon }">
</div>

<div class="weather-info-container">
    <div class="oj-flex">
      <div class="oj-flex oj-flex-item weather-info-box">
        <span class="weather-info-font2" data-bind="visible:isNowSelected(), text: weatherProps.feels_like"></span>
        <span class="weather-info-font2" data-bind="visible:!isNowSelected(), text: weatherProps.feelsLikeAvg"></span>
        <span class="weather-details-font">Feels like</span>
      </div>

      <div class="oj-flex oj-flex-item weather-info-box">
        <span class="weather-info-font2" data-bind="text: weatherProps.wind_speed"></span>
        <span class="weather-details-font">Wind</span>
      </div>

      <div class="oj-flex oj-flex-item weather-info-box">
        <span class="weather-info-font2" data-bind="text:weatherProps.wind_gust"></span>
        <span class="weather-details-font">Wind Gust</span>
      </div>
    </div>

    <div class="oj-flex">
      <div class="oj-flex oj-flex-item weather-info-box">
        <span class="weather-info-font2" data-bind="text: weatherProps.wind_deg"></span>
        <span class="weather-details-font">Wind Deg</span>
      </div>

      <div class="oj-flex oj-flex-item weather-info-box">
        <span class="weather-info-font2" data-bind="text: weatherProps.humidity"></span>
        <span class="weather-details-font">Humidity</span>
      </div>

      <div class="oj-flex oj-flex-item weather-info-box">
        <span class="weather-info-font2" data-bind="text: weatherProps.pressure"></span>
        <span class="weather-details-font">Pressure</span>
      </div>
    </div>
  </div>