/*
    Author: Nikoletta Naoumi
    Description:
        Here are the application specific styles
*/
.w-button {
  background-color: #e0e0e0;
  margin-right: 10px;
}

.w-button .oj-button-button {
  padding: 0 10px;
}

.w-button.highlight {
  background-color: rgb(203, 250, 203);
  border: 1px solid lightgreen;
  border-radius: 5px;
}

.w-button.highlight .oj-button-label {
  color: rgb(104, 192, 104);
}

.page-container{
  box-shadow: 0 0 10px 0 #e0e0e0;
  padding: 25px;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 30px 0;
}

.weather-info-box {
  border: 1px solid gray;
  border-radius: 5px;
  width: 28%;
  margin: 10px;
  padding:30px;
  display:block;
}

.weather-icon {
  width:150px;
  height:150px;
  content:  url("images/6122714.png");
  background-repeat: no-repeat;
  background-position: 10px 4px;
}

.weather-info-container {
  border-top: 3px solid lightgray;
  border-bottom: 10px solid lightgray;
  padding: 20px 0 40px 0;
}

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.weather-details-font {
  font-size: 14px;
  font-family:Calibri;
}

.weather-info-font {
  font-size: 40px;
  font-family: Calibri;
  font-weight:600;
  display:block;
}

.weather-info-font2 {
  font-size: 32px;
  font-family: Calibri;
  font-weight:600;
  display:block;
}

.line-chart {
  width: 100%;
  height: 450px;
}

.demo-oracle-icon {
  width:137px;
  height:18px
}

.demo-oracle-icon:before {
  content:url("images/oracle_logo.svg")
}

html:not([dir="rtl"]) .demo-oracle-icon {
  padding-right:4px
}

html[dir="rtl"] .demo-oracle-icon {
  padding-left:4px
}

.demo-oracle-icon:before {
  display:inline
}

.demo-appheader-avatar {
  width:24px;
  height:24px
}

.demo-appheader-avatar:before {
  content:url("images/avatar_24px.png")
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .demo-appheader-avatar:before {
      content:url("images/avatar_24px_2x.png");
      -webkit-transform:translate(-25%, -25%) scale(0.5);
      transform:translate(-25%, -25%) scale(0.5)
  }
}